.idea
.idea/*
.DS_Stroe
.vscode
.vscode/*
model/__pycache__
outputs/*
moduleB/outputs/*.pth
moduleB/model/__pycache__
__pycache__
imageProcess/__pycache__
coreDetector/weights/*
coreDetector/outputs/*
moduleE/model/paraphrase-multilingual-MiniLM-L12-v2/*
